body {
    background-color: black;
    font-family: arial;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.card {
    padding-top: 5px;
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #666666;
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 30px;
}

.card-images {
}
.card-img {
    border-style: solid;
    border-color: #616161;
    border-radius: 1px;
}

.card-content {

}

.header {
}
